LsShipmis/CommonViewer/Web References/cn.maritech.www/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.maritech.cn/shipmis/web/WebService.asmx" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.maritech.cn/shipmis/web/WebService.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.maritech.cn/shipmis/web/WebService.asmx">
      <s:element name="WriteLog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="time" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="position" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="application" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="operation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="log" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WriteLogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WriteLogResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMailState">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMailStateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getMailStateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkRight">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkRightResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="checkRightResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WriteLogSoapIn">
    <wsdl:part name="parameters" element="tns:WriteLog" />
  </wsdl:message>
  <wsdl:message name="WriteLogSoapOut">
    <wsdl:part name="parameters" element="tns:WriteLogResponse" />
  </wsdl:message>
  <wsdl:message name="getMailStateSoapIn">
    <wsdl:part name="parameters" element="tns:getMailState" />
  </wsdl:message>
  <wsdl:message name="getMailStateSoapOut">
    <wsdl:part name="parameters" element="tns:getMailStateResponse" />
  </wsdl:message>
  <wsdl:message name="checkRightSoapIn">
    <wsdl:part name="parameters" element="tns:checkRight" />
  </wsdl:message>
  <wsdl:message name="checkRightSoapOut">
    <wsdl:part name="parameters" element="tns:checkRightResponse" />
  </wsdl:message>
  <wsdl:message name="WriteLogHttpGetIn">
    <wsdl:part name="key" type="s:string" />
    <wsdl:part name="time" type="s:string" />
    <wsdl:part name="position" type="s:string" />
    <wsdl:part name="application" type="s:string" />
    <wsdl:part name="operation" type="s:string" />
    <wsdl:part name="log" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WriteLogHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getMailStateHttpGetIn">
    <wsdl:part name="key" type="s:string" />
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getMailStateHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="checkRightHttpGetIn">
    <wsdl:part name="key" type="s:string" />
  </wsdl:message>
  <wsdl:message name="checkRightHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WriteLogHttpPostIn">
    <wsdl:part name="key" type="s:string" />
    <wsdl:part name="time" type="s:string" />
    <wsdl:part name="position" type="s:string" />
    <wsdl:part name="application" type="s:string" />
    <wsdl:part name="operation" type="s:string" />
    <wsdl:part name="log" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WriteLogHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getMailStateHttpPostIn">
    <wsdl:part name="key" type="s:string" />
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getMailStateHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="checkRightHttpPostIn">
    <wsdl:part name="key" type="s:string" />
  </wsdl:message>
  <wsdl:message name="checkRightHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="WriteLog">
      <wsdl:input message="tns:WriteLogSoapIn" />
      <wsdl:output message="tns:WriteLogSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getMailState">
      <wsdl:input message="tns:getMailStateSoapIn" />
      <wsdl:output message="tns:getMailStateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="checkRight">
      <wsdl:input message="tns:checkRightSoapIn" />
      <wsdl:output message="tns:checkRightSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceHttpGet">
    <wsdl:operation name="WriteLog">
      <wsdl:input message="tns:WriteLogHttpGetIn" />
      <wsdl:output message="tns:WriteLogHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getMailState">
      <wsdl:input message="tns:getMailStateHttpGetIn" />
      <wsdl:output message="tns:getMailStateHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="checkRight">
      <wsdl:input message="tns:checkRightHttpGetIn" />
      <wsdl:output message="tns:checkRightHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceHttpPost">
    <wsdl:operation name="WriteLog">
      <wsdl:input message="tns:WriteLogHttpPostIn" />
      <wsdl:output message="tns:WriteLogHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getMailState">
      <wsdl:input message="tns:getMailStateHttpPostIn" />
      <wsdl:output message="tns:getMailStateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="checkRight">
      <wsdl:input message="tns:checkRightHttpPostIn" />
      <wsdl:output message="tns:checkRightHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WriteLog">
      <soap:operation soapAction="http://www.maritech.cn/shipmis/web/WebService.asmx/WriteLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMailState">
      <soap:operation soapAction="http://www.maritech.cn/shipmis/web/WebService.asmx/getMailState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkRight">
      <soap:operation soapAction="http://www.maritech.cn/shipmis/web/WebService.asmx/checkRight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WriteLog">
      <soap12:operation soapAction="http://www.maritech.cn/shipmis/web/WebService.asmx/WriteLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMailState">
      <soap12:operation soapAction="http://www.maritech.cn/shipmis/web/WebService.asmx/getMailState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkRight">
      <soap12:operation soapAction="http://www.maritech.cn/shipmis/web/WebService.asmx/checkRight" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHttpGet" type="tns:WebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="WriteLog">
      <http:operation location="/WriteLog" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMailState">
      <http:operation location="/getMailState" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkRight">
      <http:operation location="/checkRight" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHttpPost" type="tns:WebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="WriteLog">
      <http:operation location="/WriteLog" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMailState">
      <http:operation location="/getMailState" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkRight">
      <http:operation location="/checkRight" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://www2.maritech.cn/shipmis/web/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://www2.maritech.cn/shipmis/web/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHttpGet" binding="tns:WebServiceHttpGet">
      <http:address location="http://www2.maritech.cn/shipmis/web/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHttpPost" binding="tns:WebServiceHttpPost">
      <http:address location="http://www2.maritech.cn/shipmis/web/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>